<div class="row justify-content-center">
  <div class="col-12 text-center">
    <div class="alert alert-danger" role="alert">
      В настоящий момент производится наполнение базы данных, представленная информация может быть неполной.<br />
      Для получения дополнительной информации вы можете напрямую связаться со мной: <br />
      <a href="mailto:milaashk@mail.ru">milaashk@mail.ru</a>
    </div>
    <p class="lead">«Некрополь Калужских погостов» - проект, которому я посвятила 2 года, собрал уже более 50000 имён.</p>
  </div>
  <div class="col-12">
    <p class="pl-4 pr-4 ml-4 mr-4">
      Теперь собранные мной данные доступны онлайн. Сразу же после регистрации и оплаты абонентской платы (250 рублей) Вы получаете доступ к
      базе на 1 месяц. Информацию о пополнении базы данных новыми некрополями будут получать все зарегистрированные пользователи.
    </p>
  </div>
  <div class="col-6 pt-2" *ngIf="hasAuth; else regButton">
    <form
      class="form-inline md-form mr-auto mb-4"
      [formGroup]="searchForm"
      (ngSubmit)="onSearch()"
      *ngIf="hasSubscription; else needSubscription"
    >
      <input class="form-control mr-2" type="text" placeholder="Введите ФИО" aria-label="Name" formControlName="fio" required />

      <ng-select
        class="mr-2 custom"
        [items]="counties"
        bindLabel="name"
        bindValue="id"
        id="county"
        aria-label="County"
        formControlName="countyId"
        placeholder="Выберите уезд"
      >
      </ng-select>

      <button class="btn outline-primary text-uppercase" type="submit">
        <fa-icon icon="search"></fa-icon>
        Искать
      </button>
    </form>

    <ng-template #needSubscription>
      <div class="card p-4">
        <div class="alert alert-warning">
          <h4 class="alert-heading">ВНИМАНИЕ!</h4>
          Для того, что бы воспользоваться поиском по базе данных некрополей необходимо оплатить подписку.
        </div>
        <button class="btn btn-primary text-uppercase" [routerLink]="['/catalog']">Перейти в магазин</button>
      </div>
    </ng-template>
  </div>

  <div class="col-md-8 col-sm-10 col-xs-12">
    <ng-container *ngIf="tableData">
      <necropolis-table [data]="tableData"  *ngIf="tableData.items.length > 0; else emptyList"></necropolis-table>
      <ng-template #emptyList>
        <h4 class="text-center">Записей не найдено</h4>
      </ng-template>
    </ng-container>

    <ng-template #regButton>
      <button class="btn btn-link text-uppercase" [routerLink]="['/login']"><u>Войти или зарегистрироваться</u></button>
    </ng-template>
  </div>

  <div class="col-12">
    <p class="pl-4 pr-4 ml-4 mr-4">
      Если Вы не нашли сведений о нужных Вам захоронениях или необходимый Вам некрополь еще не создан, то Вы можете обратиться ко мне для
      заказа некрополистического исследования!
    </p>
  </div>

  <div class="col-12 text-center pb-4">
    <button class="btn btn-outline-secondary text-uppercase" (click)="onOrderButtonClick()">
      Заказать некрополистическое исследование
    </button>
  </div>
</div>

<app-feedback></app-feedback>
