<div class="row justify-content-center">
  <div class="col-12 text-center">
    <div class="alert alert-danger" role="alert">
      Раздел находится в режиме отладки. Поиск по базе данных временно недоступен.<br />
      Для получения дополнительной информации вы можете напрямую связаться со мной: <br />
      <a href="mailto:milaashk@mail.ru">milaashk@mail.ru</a>
    </div>
    <p class="lead">«Некрополь Калужских погостов» - проект, которому я посвятила 2 года, собрал уже более 50000 имён.</p>
  </div>
  <div class="col-12">
    <p class="pl-4 pr-4 ml-4 mr-4">
      Теперь собранные мной данные доступны онлайн. Сразу же после регистрации и оплаты абонентской платы (250 рублей) Вы получаете доступ к
      базе на 1 месяц. Информацию о пополнении базы данных новыми некрополями будут получать все зарегистрированные пользователи.
    </p>
  </div>
  <div class="col-6 pt-2" *ngIf="hasAuth; else regButton">
    <form class="form-inline md-form mr-auto mb-4" [formGroup]="searchForm" (ngSubmit)="search()">
      <input class="form-control mr-2" type="text" placeholder="Введите ФИО" aria-label="Name" formControlName="fio" required />

      <ng-select
        class="mr-2 custom"
        [items]="cemeteries"
        bindLabel="name"
        bindValue="id"
        id="cemetery"
        aria-label="Cemetery"
        formControlName="cemeteryId"
        placeholder="Укажите место захоронения"
      >
      </ng-select>

      <button class="btn outline-primary text-uppercase" type="submit">
        <fa-icon icon="search"></fa-icon>
        Искать
      </button>
    </form>
  </div>

  <div class="col-12">
    <lancet-table [data]="tableData" (change)="onSelect($event)"></lancet-table>

    <ng-template #regButton>
      <button class="btn btn-link text-uppercase" [routerLink]="['/login']"><u>Войти или зарегистрироваться</u></button>
    </ng-template>
  </div>

  <div class="col-12">
    <p class="pl-4 pr-4 ml-4 mr-4">
      Если Вы не нашли сведений о нужных Вам захоронениях или необходимый Вам некрополь еще не создан, то Вы можете обратиться ко мне для
      заказа некрополистического исследования!
    </p>
  </div>

  <div class="col-12 text-center pb-4">
    <button class="btn btn-outline-secondary text-uppercase" (click)="onOrderButtonClick()">
      Заказать некрополистическое исследование
    </button>
  </div>
</div>

<app-feedback></app-feedback>
