<table class="table table-striped" *ngIf="data?.items?.length > 0; else emptyList">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngFor="let field of data?.fields">{{ field }}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of data?.items; let itemIndex = index">
      <tr
        (click)="onSelect(item.id)"
        [ngClass]="{ 'text-primary': item.id == selectedId, hidden: item.isHidden }"
        *ngIf="!item.isHidden || (item.isHidden && showHidden)"
      >
        <th scope="row">{{ itemIndex + 1 }}</th>
        <td *ngFor="let val of item.values">
          {{ val }}
        </td>
        <td class="text-right">
          <a (click)="onRemove(item.id)"><fa-icon class="remove-icon" icon="times"></fa-icon></a>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<ng-template #emptyList>
  <h4 class="text-center">Список пуст</h4>
</ng-template>
