<div class="container-fluid">
  <p><span style="font-size: 14pt;"><strong><b>Приветствую всех на сайте KALUGA-GENEALOGIA.RU</b></strong></span></p>
  <p><span style="font-size: 14pt;"> </span></p>
  <p><span style="font-size: 14pt;"><strong><b>Меня зовут Куликова Мила</b></strong><strong><b>. </b></strong><strong><b>Я родилась в 1988 в городе Оленегорск Мурманской области, но с 1995 года живу в Калуге. Начала заниматься генеалогией в 2013 году, сначала составляла свое генеалогическое древо, потом начала помогать и другим. Теперь генеалогия это не только хобби, но и моя работа.</b></strong></span></p>
  <p><span style="font-size: 14pt;"> </span></p>
  <p><span style="font-size: 14pt;"><strong><b>Я помогу Вам создать Ваше генеалогическое древо, если Ваши предки родились в Калужской области и не только.</b></strong></span></p>
  <p><span style="font-size: 14pt;"><strong><b> </b></strong></span></p>
  <p><span style="font-size: 14pt;"><strong><b>Т</b></strong><strong><b>акже осуществляю поиск по древним рукописям 16-17 веков в архиве РГАДА в Москве.</b></strong></span></p>
  <p> </p>
  <p><span style="font-size: 14pt;"><strong><b>Поиск захоронений, создание некрополей.</b></strong></span></p>
  <p><span style="font-size: 14pt;"><strong><b> </b></strong></span></p>
  <p><span style="font-size: 14pt;"><strong><b>В 2020 году будет запущен сервис "Некрополи Калужской губернии", а также выйдет книга-справочник по Козельскому уезду. Книга будет интересна всем потомкам, чьи предки родились в Козельском уезде в дореволюционый период.</b></strong><strong><b> </b></strong></span></p>
  <p><span style="font-size: 14pt;"><strong><b>Статьи о моих проектах:</b></strong></span></p>
  <p><span style="font-size: 14pt;"><strong><b><a href="http://www.newskaluga.info/gazeta/article/4405/">Откуда ты родом, расскажет кладбище </a></b></strong></span></p>
  <p><span style="font-size: 14pt;"><strong><b><a href="https://yadi.sk/i/uevlwBatBtlUJw">Более 100 км пешком и 3000 км на машине в поисках деревенских погостов</a></b></strong></span></p>
  <p><span style="font-size: 14pt;"><strong><b><a href="http://www.kozelskcyclopedia.ru/2010-10-05-08-02-07/1-2010-10-05-07-20-18/916-o-novom-proekte-kaluzhskogo-genealoga">О новом проекте Калужского генеалога</a></b></strong></span></p>
  <p><span style="font-size: 14pt;"><strong><b><a href="https://yadi.sk/i/JiWVzfYjWmYLMQ">Еще один шаг к истине: и все-таки мы ПлАхинские</a></b></strong></span></p>
  <p><span style="font-size: 14pt;"><strong><b>Связаться со мной вы всегда можете по электронной почте: </b></strong><a href="mailto:kaluga-genealogia@mail.ru,"><span id="cloak96ffe470cb4bef8cebfc76d20d78cca6">Этот адрес электронной почты защищён от спам-ботов. У вас должен быть включен JavaScript для просмотра.</span><script type='text/javascript'>
          document.getElementById('cloak96ffe470cb4bef8cebfc76d20d78cca6').innerHTML = '';
          var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
          var path = 'hr' + 'ef' + '=';
          var addy96ffe470cb4bef8cebfc76d20d78cca6 = 'k&#97;l&#117;g&#97;-g&#101;n&#101;&#97;l&#111;g&#105;&#97;' + '&#64;';
          addy96ffe470cb4bef8cebfc76d20d78cca6 = addy96ffe470cb4bef8cebfc76d20d78cca6 + 'm&#97;&#105;l' + '&#46;' + 'r&#117;';
          var addy_text96ffe470cb4bef8cebfc76d20d78cca6 = 'k&#97;l&#117;g&#97;-g&#101;n&#101;&#97;l&#111;g&#105;&#97;' + '&#64;' + 'm&#97;&#105;l' + '&#46;' + 'r&#117;';document.getElementById('cloak96ffe470cb4bef8cebfc76d20d78cca6').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy96ffe470cb4bef8cebfc76d20d78cca6 + '\'>'+addy_text96ffe470cb4bef8cebfc76d20d78cca6+'<\/a>';
      </script>,</a></span></p>
  <p><span style="font-size: 14pt;"> </span></p>
  <p><span style="font-size: 14pt;"><strong><b>Всегда рада общению на генеалогические темы, а особенно на тему некрополей. </b></strong></span></p>
  <p><span style="font-size: 14pt;"><strong><b>Моя страничка в инстаграм </b></strong>@kaluga_genealogia.ru</span></p>
  <p><span style="font-size: 14pt;"><strong><b>Моя страничка вКонтакте </b></strong><a href="https://vk.com/kalugagenealogia">https://vk.com/kalugagenealogia</a></span></p>
  <p><span style="font-size: 14pt;"><strong><b>Группа вКонтакте </b></strong><a href="https://vk.com/club178414414">https://vk.com/club178414414</a></span></p>
  <p><span style="font-size: 14pt;"> </span></p>
  <p><span style="font-size: 14pt;"><strong><b>С уважением, Мила.</b></strong></span></p>
</div>
