<div class="row pt-2">
  <div class="col-md-6 col-lg-8">
    <lancet-table
      [data]="tableData"
      [selectedId]="cemetery?.id"
      (change)="onSelect($event)"
      (remove)="onRemove($event)"
    ></lancet-table>
  </div>
  <div class="col-md-6 col-lg-4">
    <form [formGroup]="cemeteryForm" (ngSubmit)="onAdd()">
      <div class="form-group">
        <label for="name">Название</label>
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          placeholder="Введите название"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="location">Расположение</label>
        <input type="text" class="form-control" id="location" placeholder="Укажите расположение" formControlName="location" />
      </div>
      <input type="hidden" formControlName="id" />
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-primary" [disabled]="cemeteryForm.invalid || cemetery">Добавить</button>
        <button type="button" class="btn btn-primary" [disabled]="cemetery === null" (click)="onUpdate()">Изменить</button>
        <button type="reset" class="btn btn-primary" (click)="onReset()">Очистить</button>
      </div>
    </form>
  </div>
</div>
