<div class="container pt-2">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#description">Кладбища</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#characteristics">Описи ГАКО</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#opinion">Справочник</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="description">
          <app-cemetery></app-cemetery>
        </div>
        <div class="tab-pane fade" id="characteristics">
          Характеристики товара...
        </div>
        <div class="tab-pane fade" id="opinion">
          Отзывы...
        </div>
      </div>
    </div>
  </div>
</div>
