<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngFor="let field of data?.fields">{{ field }}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of data?.items; let itemIndex = index"
      (click)="onChange.emit(item.id)"
      [ngClass]="{ 'bg-success': item.id == selectedId }"
    >
      <th scope="row">{{ itemIndex + 1 }}</th>
      <td *ngFor="let val of item.values">
        {{ val }}
      </td>
      <td class="text-right">
        <a (click)="handleRemove($event, item.id)"><fa-icon class="remove-icon" icon="times"></fa-icon></a>
      </td>
    </tr>
  </tbody>
</table>
